# macOS
.DS_Store

# LaTeX build/intermediate files
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdv
*.xmpi
*.pyg
*.listing
*.loa
*.lol
*.maf
*.mtc*
*.spl
*.thm
_minted*/
